


.overflow{
    background-color: blueviolet;
    border: 3px solid;
    width:200px;
    height:200px;
    margin:300px;
   /* overflow:hidden;*/
/*overflow:scroll;*/
/*overflow:auto;*/
overflow-x:hidden;
overflow-y:scroll;



}
