/* pseudo classes*/
.pseudo:link{
color: black;
}
.pseudo:visited{
color:red;
}
.pseudo:hover{
    color:blue;
}
.pseudo:active{
    color:aqua;
    text-decoration:;
}

:first-child{
    color:rgb(87, 42, 165)
}
/*  pseudo element */
p::first-letter{
    font-size: 60px;
}
p::first-line{
    color: blue;
}
p::after{
    content: url(../html/imran/sp2.jpeg);
}
p::before{
    content: url(../html/imran/sample.jpeg);
}
::marker{
    color:chartreuse
}
::selection{
    color: gold;
}
